<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XKCD_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <XKCD_Downloader.Properties.Settings>
            <setting name="list_last_update" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="comic_count" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="download_location" serializeAs="String">
                <value>xkcd\</value>
            </setting>
            <setting name="close_on_window_close" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_minimize_notification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="check_for_new_comics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="check_for_new_comics_last_check" serializeAs="String">
                <value />
            </setting>
            <setting name="update_check_interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="check_for_new_comics_on_app_start" serializeAs="String">
                <value>True</value>
            </setting>
        </XKCD_Downloader.Properties.Settings>
    </userSettings>
</configuration>
